<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bytes2Image.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Bytes2Image.Settings>
            <setting name="FilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="DesktopPath" serializeAs="String">
                <value />
            </setting>
            <setting name="CanRead" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BytesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AllBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="imgSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="rw" serializeAs="String">
                <value>False</value>
            </setting>
        </Bytes2Image.Settings>
    </userSettings>
</configuration>